.mypage__left
  .mypage__left__area
    %ul.mypage__left__area__list
      %li
        マイページ
      %li
        お知らせ
      %li
        いいね！一覧
      %li
        出品した商品
      %li
        購入した商品
      %li
        = link_to "支払い方法", cards_path
      %li
        = link_to "ログアウト", logout_path