.default-container {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  .l-single-container {
    padding: 24px 40px 40px;
    background: #fff;
    margin: 40px auto 0;
    width: 700px;
    .item-name {
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    .clearfix {
      margin: 16px 0 0;
      display: flex;
        .itemBox__body {
          min-width: 300px;
          max-width: 300px;
          min-height: 375px;
          .first-item {
            display: flex;
            position: relative;
            &__box {
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              position: relative;
              &--img{
                width: 300px;
                height: 300px;
                z-index: 1;
              }
              .soldout_label{
                height: 130px;
                width: 150px;
                position: absolute;
                z-index: 2;
                color: #fff;
                left: 0;
                background:
                  linear-gradient(to top left, rgba(255,255,255,0) 50%, rgb(243, 30, 30) 50.5%) no-repeat top left/100% 100%;
                &__text{
                  transform: rotate(-40deg);
                  font-size: 25px;
                  font-weight: bold;
                }
              }
            }
          }
          .other-item{
            display: flex;
          }
        }
      table {
        float: right;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        th {
          width: 39%;
          text-align: left;
          font-weight: 400;
          background: #fafafa;
        }
        td {
          width: 61%;
          background: #fff;
          .item-user-ratings {
            display: inline-block;
          }
        }
      }
    }
    .text-center {
      text-align: center;
      display: flex;
      padding: 10px 50px 0px 190px;
      .bold {
        margin: 0 16px 0 0;
        font-size: 50px;
        font-weight: 600;
      }
      .item-tax {
        font-size: 10px;
        padding-top: 36px;
      }
      .item-shipping-fee {
        display: inline-block;
        font-size: 16px;
        padding-top: 30px;
      }
    }
    .item-buy-btn {
      font-size: 24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #ea352d;
      color: #fff;
      text-align: center;
      font-weight: 600;
      transition: all ease-out .3s;
    }
    .item-delete-btn{
      font-size: 24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #aaa;
      color: #fff;
      text-align: center;
      font-weight: 600;
      transition: all ease-out .3s;
    }
    .item-description-inner {
      padding: 32px 0 0;
      font-size: 18px;
      word-wrap: break-word;
      width: 620px;
    }
  }
  .item-detail-message {
    width: 700px;
    margin: 8px auto;
    .message-content {
      padding: 24px;
      background: #fff;
      .message-text{
        margin: 20px;
        .text_box{
          margin-bottom: 25px;
          .username{
            font-weight: bold;
          }
          .text{
            padding: 16px;
            background: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
          }
        }
      }
      .message-form {
        p {
          padding: 8px;
          font-size: 14px;
          background: #fff6de;
        }
        
      }
      .textarea{
        margin: 8px 0 0;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
      }
      .comment-submit{
        width: 100%;
        margin: 8px 0 0;
        font-size: 20px;
        text-align: center;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        height: 60px;
      }
      .comment-login{
        width: 100%;
        margin: 8px 0 0;
        font-size: 20px;
        text-align: center;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        height: 60px;
        line-height: 60px;
      }
    }
  }
}