.header
  .header__inner
    .header__inner--top
      .top-left
      .top-right
        -# = form_for do |f|
        -#   =f.text_field :content, class: 'top-right__sarch', placeholder: 'type a message'
    .header__inner--bottom
      .bottom-left
        .bottom-left__category
        .bottom-left__bland
      .bottom-right
        .bottom-right__login
        .bottom-right__create