!!!
%html{:lang => "ja-JP"}
  %head{:nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm"}
    %script{:nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm"}
      :cdata
        (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
        })(window,document.documentElement,'async-hide','dataLayer',4000,{'GTM-KLPT5L5':true});
    %meta{:charset => "utf-8"}/
    %title 出品 - メルカリ スマホでかんたん フリマアプリ
    %meta{:content => "CMで話題！フリマアプリ「メルカリ」は、スマホから誰でも簡単に売り買いが楽しめるフリマアプリです。購入時はクレジットカード・キャリア決済・コンビニ・銀行ATMで支払いでき、品物が届いてから出品者に入金される独自システムで安心です。", :name => "description"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "#ffc40d", :name => "msapplication-TileColor"}/
    %meta{:content => "https://web-jp-assets.mercdn.net/_next/static/images/mstile-144x144-4c497c24f0c19611c8707827abb7a79f.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#ea352d", :name => "theme-color"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "メルカリ", :property => "og:site_name"}/
    %meta{:content => "出品 - メルカリ スマホでかんたん フリマアプリ", :property => "og:title"}/
    %meta{:content => "CMで話題！フリマアプリ「メルカリ」は、スマホから誰でも簡単に売り買いが楽しめるフリマアプリです。購入時はクレジットカード・キャリア決済・コンビニ・銀行ATMで支払いでき、品物が届いてから出品者に入金される独自システムで安心です。", :property => "og:description"}/
    %meta{:content => "https://web-jp-assets.mercdn.net/_next/static/images/ogp-b13963a67cadd4b40a2c8767224d8b11.png", :property => "og:image"}/
    %meta{:content => "フリマアプリ「メルカリ」", :property => "al:ios:app_name"}/
    %meta{:content => "667861049", :property => "al:ios:app_store_id"}/
    %meta{:content => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :property => "al:ios:url"}/
    %meta{:content => "フリマアプリ「メルカリ」", :property => "al:android:app_name"}/
    %meta{:content => "com.kouzoh.mercari", :property => "al:android:package"}/
    %meta{:content => "app", :name => "twitter:card"}/
    %meta{:content => "@mercari_jp", :name => "twitter:site"}/
    %meta{:content => "出品 - メルカリ スマホでかんたん フリマアプリ", :name => "twitter:title"}/
    %meta{:content => "CMで話題！フリマアプリ「メルカリ」は、スマホから誰でも簡単に売り買いが楽しめるフリマアプリです。購入時はクレジットカード・キャリア決済・コンビニ・銀行ATMで支払いでき、品物が届いてから出品者に入金される独自システムで安心です。", :name => "twitter:description"}/
    %meta{:content => "https://web-jp-assets.mercdn.net/_next/static/images/ogp-b13963a67cadd4b40a2c8767224d8b11.png", :name => "twitter:image"}/
    %meta{:content => "jp", :name => "twitter:app:country"}/
    %meta{:content => "フリマアプリ「メルカリ」", :name => "twitter:app:name:iphone"}/
    %meta{:content => "フリマアプリ「メルカリ」", :name => "twitter:app:name:ipad"}/
    %meta{:content => "フリマアプリ「メルカリ」", :name => "twitter:app:name:googleplay"}/
    %meta{:content => "667861049", :name => "twitter:app:id:iphone"}/
    %meta{:content => "667861049", :name => "twitter:app:id:ipad"}/
    %meta{:content => "com.kouzoh.mercari", :name => "twitter:app:id:googleplay"}/
    %link{:href => "https://www.mercari.com/jp/", :hreflang => "ja", :rel => "alternate"}/
    %link{:href => "https://www.mercari.com/", :hreflang => "en", :rel => "alternate"}/
    %link{:href => "https://www.mercari.com/uk/", :hreflang => "en-GB", :rel => "alternate"}/
    %link{:color => "#ea352d", :href => "https://web-jp-assets.mercdn.net/_next/static/images/safari-pinned-tab-c56909951369985b3e30550ac1449606.svg", :rel => "mask-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-precomposed-c4b8ed898962cc05162ef75abc1c992b.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-5e2e69387ba4731fd2b9a98710917e04.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-57x57-5e2e69387ba4731fd2b9a98710917e04.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-60x60-bde0e60d6e82f57d2ccd8e29323a6ad5.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-72x72-ba5305fc7ec06e95aeca374ca7baf0ba.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-76x76-12aa009f09290548203f09576413bdc2.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-114x114-db9ffbcfb8a9aa245708792724ff4282.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-120x120-3f4ebbdfe7b2e2197935c1331011ad33.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-144x144-2284ae9035858a9676a587619c735149.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-152x152-47d5b5cb69d450b200cb9cf1179df944.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/apple-touch-icon-180x180-c4b8ed898962cc05162ef75abc1c992b.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/android-chrome-36x36-1e690a91bf7d10eed0696f2fb90fe270.png", :rel => "icon", :sizes => "36x36", :type => "image/png"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/android-chrome-48x48-0c26a3f59bb5fd09f5227b7ef5d17522.png", :rel => "icon", :sizes => "48x48", :type => "image/png"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/android-chrome-72x72-ba5305fc7ec06e95aeca374ca7baf0ba.png", :rel => "icon", :sizes => "72x72", :type => "image/png"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/android-chrome-96x96-8e0c7a96237229c6fdcd7938ecf152a7.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/android-chrome-144x144-2284ae9035858a9676a587619c735149.png", :rel => "icon", :sizes => "144x144", :type => "image/png"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/android-chrome-192x192-89f8df00e7251cd96cc37fcbd481c0c1.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/favicon-16x16-3b21976cfd8fbbaa457752f8f7841dde.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/favicon-32x32-7425bb5129cf5c20d1afc9c9784363b1.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/images/favicon-194x194-259153334cc3e338cb56a04e15e1c1af.png", :rel => "icon", :sizes => "194x194", :type => "image/png"}/
    %link{:href => "/jp/manifest.webmanifest", :rel => "manifest"}/
    %meta{:content => "55", :name => "next-head-count"}/
    %link{:as => "style", :href => "https://web-jp-assets.mercdn.net/_next/static/css/8fe3a8a085344059064e.css", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:href => "https://web-jp-assets.mercdn.net/_next/static/css/8fe3a8a085344059064e.css", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "stylesheet"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/OsDGyTi53lvovhtgoXLiA/pages/sell.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/OsDGyTi53lvovhtgoXLiA/pages/_app.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/runtime/webpack-95e3d149902c1cbca77f.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/framework.0352e16ba0ad641c9265.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/commons.dd5abf505ca116532ef2.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/be5db59a2852f7f0f7a37e9ce7c80458acd04915.f273d858442585813e0f.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/5eca33d30e33d7b4700fe9c23057fbcdcb0a52f5.b7938ded1d043a41f19b.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/3b63c3c2e27622bd1a53e40c9b9fb8ef736289b4.5ebbadcb06f3b2e53fd2.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/339ec15c43a7ff8f4d22eafc6626eb55416e36f3.194debebc30773b3124e.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/93bdd6766f50e6d85536a083fdcf4d448fd17349.8d44356b723322b3e7d2.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/9f085ed986c07e540131246617d2d8ee6c83e525.3627c2b7ed8392c9de64.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/c29cd19db51e4b56e17108952a44af2a54b28236.64571803dd70b47255bf.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/2561efdd4059fe1a9cf847e5b126d1d65dee1d09.b216875b9b1f829b44a7.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/b6c4b0ec35cf51ada6ede4c747fde3e3b4945966.84ccafae618158d75667.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/8a293cb2397c4695709629fa55cb9d0f50f0b337.b211fbcef72957b0384d.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/8d31ed62e825417750253799d6301e02a97d6a43.ed18105d2d01956032fc.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/ItemList.7cb72ba49724b382c583.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/f15349012029f60629fb22e082c0f863b6aab187.2fb1a5c17a2ea0750895.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/runtime/main-b667d026f689505e5c10.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
    %link{:as => "script", :href => "https://web-jp-assets.mercdn.net/_next/static/chunks/4f1c08ab95ba54e3dbcc868943bf24287c9076af.b4b59de55a768ae018cf.js", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :rel => "preload"}/
  %style{"data-styled" => "bCaqrd cDgEuo botRKz niNE kRndgy iquxJU kfeWsi gvMANJ hfTipj bCHQAd caMEf bNvJAL lpfBqo kxQiJL dQLwrX ffDeEQ dHfhkO jupFpw dorPWE fglMkB xXrEl caXlOP SEOuy eWwRDw fMwaVV boRFxz iKLwkj hUBxAe fLDsob iOhjOZ jPCSMH jeziyJ ivIZQo juqFLg fKNBkM efZUki RnBRw fTieAA daVJDf hLEHTa fLxlXj davxI faORHF iYiELi OLMic dbYgwv egaVuO dNbFaI cxOzQz elVGNr hLjDMT gkybHg hvlkre eDrSWi feiCiN gMbpOw fIpNlZ gBkKhI dKjbVH ioDpM jFizeg gRkymu joFNLP eosaCj ivzDTG fRxYlC gAChZL iXfvPx jhgaqq cZjyvl kjTeNF duPPDh jKRyoT bOGWbA jlZLrq fQzHqi feWkCd fMMwWg bUQnwQ jZylIW kHAUmX gMiSZt iucczz kduPIy bMWfXa ffWsft bsOdb hsmaqh jrNxLO eESUAP joAKll iLTrHh evZoVs cApMkI eBgIbY dUOaAv ijbKwt cFLFtx hNJeyH iKlslD AVIyk cnklvD kKKxgp jgwUQW fXzMES dtKgNN bwMfzZ lhcdXG fykVdR junbxu jACrMO btCVfo ktlYZS kmHFjK", "data-styled-version" => "4.4.1"}
    :cdata
      \/* sc-component-id: sc-fAjcbJ */
      \.faORHF{margin:0 auto;width:100%;padding:20px 0;} @media (min-width:768px){.faORHF{max-width:700px;}} @media (min-width:1068px){.faORHF{max-width:700px;}}.iYiELi{margin:0 auto;width:100%;} @media (min-width:768px){.iYiELi{max-width:700px;}} @media (min-width:1068px){.iYiELi{max-width:700px;}}
      \/* sc-component-id: sc-caSCKo */
      \.OLMic{position:relative;}
      \/* sc-component-id: sc-jbKcbu */
      \.cApMkI{box-shadow:0 2px 4px rgba(0,0,0,0.18);max-height:252px;overflow:auto;display:none;}
      \/* sc-component-id: sc-global-3594013222 */
      html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block;} *[hidden]{display:none;} body{line-height:1;} ol,ul{list-style:none;} blockquote,q{quotes:none;} blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;} table{border-collapse:collapse;border-spacing:0;} *,*::before,*::after{box-sizing:border-box;} body{position:relative;min-height:100%;color:#333;background-color:#f5f5f5;font-family:Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;font-size:14px;} a{-webkit-text-decoration:none;text-decoration:none;color:inherit;} img{vertical-align:middle;} hr{margin:0;} button,input,select,textarea{font-family:inherit;font-size:100%;}
      \/* sc-component-id: sc-cMhqgX */
      \.elVGNr{border-radius:50%;padding-top:15px;text-align:center;height:80px;width:80px;background-color:#ea352d;} @media (min-width:768px){.elVGNr{width:160px;height:160px;padding-top:32px;}}
      \/* sc-component-id: sc-iuJeZd */
      \.hLjDMT{color:#ffffff;} @media (min-width:768px){.hLjDMT{font-size:22px;}}
      \/* sc-component-id: sc-esOvli */
      \.gkybHg{max-width:100%;height:auto;max-height:100%;color:#ffffff;display:block;height:24px;width:26px;margin:5px auto 0;} @media (min-width:768px){.gkybHg{width:60px;height:54px;margin-top:8px;}}
      \/* sc-component-id: sc-cmthru */
      \.jeziyJ{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-left:-3px;}
      \/* sc-component-id: sc-hMFtBS */
      \.efZUki{display:none;left:-34px;position:absolute;top:44px;z-index:1;} @media (min-width:1068px){.efZUki{left:0;}}
      \/* sc-component-id: sc-cLQEGU */
      \.juqFLg{display:block;font-size:14px;font-weight:600;line-height:36px;white-space:nowrap;}
      \/* sc-component-id: sc-gqPbQI */
      \.fKNBkM{max-width:100%;height:auto;max-height:100%;color:#ea352d;height:12px;margin-right:4px;}
      \/* sc-component-id: sc-hORach */
      \.RnBRw{max-width:100%;height:auto;max-height:100%;color:#ea352d;height:12px;margin-right:4px;}
      \/* sc-component-id: sc-bMVAic */
      \.ivIZQo{cursor:pointer;height:44px;padding:0 10px;position:relative;z-index:3;} .ivIZQo:first-child{padding-left:0;} .ivIZQo:last-child{padding-right:0;} .ivIZQo:hover .sc-hMFtBS{display:block;} .ivIZQo:hover > .sc-cLQEGU{color:#0095ee;}
      \/* sc-component-id: sc-bAeIUo */
      \.iKLwkj{position:relative;width:100%;}
      \/* sc-component-id: sc-iujRgT */
      \.hUBxAe{background-color:#f5f5f5;border:1px #cccccc solid;border-radius:4px;font-size:16px;height:40px;line-height:1.4em;outline:none;padding:0 50px 0 10px;position:relative;width:100%;-webkit-transition:all ease-out 0.3s;transition:all ease-out 0.3s;-webkit-appearance:none;-moz-appearance:none;appearance:none;} .hUBxAe:focus{border-color:#0095ee;}
      \/* sc-component-id: sc-GMQeP */
      \.fLDsob{background-color:transparent;border:none;border-radius:0 4px 4px 0;cursor:pointer;height:40px;padding:0;position:absolute;right:0;top:0;width:40px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
      \/* sc-component-id: sc-exAgwC */
      \.iOhjOZ{max-width:100%;height:auto;max-height:100%;color:#222222;height:14px;margin-top:2px;width:14px;}
      \/* sc-component-id: sc-cQFLBn */
      \.fTieAA{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
      \/* sc-component-id: sc-gojNiO */
      \.daVJDf{text-align:center;}
      \/* sc-component-id: sc-daURTG */
      \.hLEHTa{background-color:#ea352d;border:1px solid #ea352d;border-radius:4px;color:#ffffff;display:block;font-size:14px;padding:8px 10px;}
      \/* sc-component-id: sc-bXGyLb */
      \.fLxlXj{text-align:center;margin-left:11px;}
      \/* sc-component-id: sc-lkqHmb */
      \.davxI{background-color:#ffffff;border:1px solid #0095ee;border-radius:4px;color:#0095ee;display:block;font-size:14px;padding:8px 10px;-webkit-transition:all ease-out 0.3s;transition:all ease-out 0.3s;} .davxI:hover{background-color:#0095ee;color:#ffffff;}
      \/* sc-component-id: sc-eLExRp */
      \.eWwRDw{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:40px;margin-right:45px;}
      \/* sc-component-id: sc-cbkKFq */
      \.boRFxz{height:36px;width:134px;}
      \/* sc-component-id: sc-dEoRIm */
      \.xXrEl{background-color:#ffffff;box-shadow:0 2px 4px rgba(0,0,0,0.18);position:relative;z-index:3;}
      \/* sc-component-id: sc-jtggT */
      \.caXlOP{margin:0 auto;padding:8px 0 0;width:700px;} @media (min-width:1068px){.caXlOP{width:1020px;}}
      \/* sc-component-id: sc-ebFjAB */
      \.SEOuy{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
      \/* sc-component-id: sc-jKVCRD */
      \.jPCSMH{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-top:8px;}
      \/* sc-component-id: sc-iBEsjs */
      \.dQLwrX{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
      \/* sc-component-id: sc-hzNEM */
      \.ffDeEQ{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-size:0;height:42px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;width:50%;padding-bottom:4px;}
      \/* sc-component-id: sc-chbbiW */
      \.jupFpw{font-size:14px;font-weight:600;}
      \/* sc-component-id: sc-kxynE */
      \.dHfhkO{max-width:100%;height:auto;max-height:100%;color:#ea352d;height:12px;margin:0 2px 0 -2px;}
      \/* sc-component-id: sc-cooIXK */
      \.dorPWE{max-width:100%;height:auto;max-height:100%;color:#ea352d;height:12px;margin:0 1px 0 -2px;}
      \/* sc-component-id: sc-fcdeBU */
      \.bCHQAd{padding:0 10px 8px;}
      \/* sc-component-id: sc-gmeYpB */
      \.caMEf{position:relative;}
      \/* sc-component-id: sc-kZmsYB */
      \.bNvJAL{background-color:#f5f5f5;border:1px #cccccc solid;border-radius:4px;font-size:16px;height:40px;line-height:1.4em;outline:none;padding:0 50px 0 10px;position:relative;width:100%;-webkit-transition:all ease-out 0.3s;transition:all ease-out 0.3s;-webkit-appearance:none;-moz-appearance:none;appearance:none;} .bNvJAL:focus{border-color:#0095ee;}
      \/* sc-component-id: sc-RcBXQ */
      \.lpfBqo{background-color:transparent;border:none;border-radius:0 4px 4px 0;cursor:pointer;height:40px;padding:0;position:absolute;right:0;top:0;width:40px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
      \/* sc-component-id: sc-iSDuPN */
      \.kxQiJL{max-width:100%;height:auto;max-height:100%;color:#222222;height:14px;margin-top:3px;width:14px;}
      \/* sc-component-id: sc-fZwumE */
      \.kfeWsi{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
      \/* sc-component-id: sc-clNaTc */
      \.gvMANJ{border:1px solid transparent;border-radius:4px;display:block;line-height:26px;padding:0 6px;text-align:center;background:#ea352d;border-color:#ea352d;color:#ffffff;} @media (min-width:375px){.gvMANJ{line-height:30px;padding:0 10px;}}
      \/* sc-component-id: sc-etwtAo */
      \.hfTipj{border:1px solid transparent;border-radius:4px;display:block;line-height:26px;padding:0 6px;text-align:center;background:#ffffff;border-color:#0095ee;color:#0095ee;margin-left:6px;} @media (min-width:375px){.hfTipj{line-height:30px;padding:0 10px;}}
      \/* sc-component-id: sc-jXQZqI */
      \.iquxJU{width:132px;}
      \/* sc-component-id: sc-jtRlXQ */
      \.botRKz{background-color:#ffffff;box-shadow:0 2px 4px rgba(0,0,0,0.18);padding-top:6px;}
      \/* sc-component-id: sc-bGbJRg */
      \.niNE{min-height:36px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:10px;padding:0 10px;}
      \/* sc-component-id: sc-eKZiaR */
      @media (max-width:767px){.fglMkB{display:none;}}
      \/* sc-component-id: sc-drMfKT */
      @media (min-width:768px){.cDgEuo{display:none;}}
      \/* sc-component-id: sc-ugnQR */
      \.bCaqrd{background-color:#f5f5f5;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;min-height:100vh;}
      \/* sc-component-id: sc-eIHaNI */
      \.dNbFaI{position:fixed;right:-14px;bottom:-14px;text-align:center;z-index:2;} @media (min-width:768px){.dNbFaI{bottom:32px;font-size:22px;height:160px;right:32px;width:160px;}}
      \/* sc-component-id: sc-eTpRJs */
      \.cxOzQz{display:block;}
      \/* sc-component-id: sc-dxZgTM */
      \.hvlkre{margin-top:auto;}
      \/* sc-component-id: sc-iomxrj */
      \.dbYgwv{background:#ffffff;padding:40px 36px;text-align:center;} @media (min-width:768px){.dbYgwv{padding:80px 36px;}}
      \/* sc-component-id: sc-dvCyap */
      \.eDrSWi{font-size:12px;font-weight:600;line-height:1.8;margin:16px 0 28px;white-space:pre-wrap;} @media (min-width:768px){.eDrSWi{font-size:16px;margin-bottom:32px;}}
      \/* sc-component-id: sc-iFMziU */
      \.egaVuO{height:auto;width:100px;} @media (min-width:768px){.egaVuO{width:160px;}}
      \/* sc-component-id: sc-hBbWxd */
      \.ioDpM{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background-color:rgba(0,0,0,0.6);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;left:0;min-height:100vh;padding:0 16px;position:fixed;opacity:0;top:0;-webkit-transition:all ease-out 0.3s;transition:all ease-out 0.3s;visibility:hidden;width:100vw;z-index:10;}
      \/* sc-component-id: sc-dyGzUR */
      \.jFizeg{background-color:#ffffff;border-radius:4px;max-width:600px;padding:32px 24px;width:100%;} @media (min-width:768px){.jFizeg{padding:64px;}}.gRkymu{background-color:#ffffff;border-radius:4px;max-width:600px;padding:0;width:100%;} @media (min-width:768px){.gRkymu{padding:0px;}}
      \/* sc-component-id: sc-cTjmhe */
      \.gMiSZt{padding:16px;} @media (min-width:768px){.gMiSZt{padding:40px;}}
      \/* sc-component-id: sc-cugefK */
      \.kduPIy{font-size:14px;line-height:1.4em;}
      \/* sc-component-id: sc-iNhVCk */
      \.iucczz:not(:first-child){margin-top:32px;}
      \/* sc-component-id: sc-eAKXzc */
      \.iLTrHh{color:#888888;font-size:14px;font-weight:600;line-height:1.4em;margin-bottom:24px;}
      \/* sc-component-id: sc-bfYoXt */
      \.evZoVs.evZoVs.evZoVs{margin-top:0;}
      \/* sc-component-id: sc-gbOuXE */
      \.duPPDh{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:16px;} @media (min-width:768px){.duPPDh{margin-bottom:32px;}}
      \/* sc-component-id: sc-dRFtgE */
      \.jKRyoT{font-size:17px;font-weight:600;line-height:1.4em;}
      \/* sc-component-id: sc-gkFcWv */
      \.bOGWbA{cursor:pointer;}
      \/* sc-component-id: sc-hUfwpO */
      \.jlZLrq{fill:#0095ee;height:16px;margin-right:4px;vertical-align:-2px;width:16px;}
      \/* sc-component-id: sc-imABML */
      \.fQzHqi{color:#0095ee;font-size:14px;}
      \/* sc-component-id: sc-cjHlYL */
      \.feWkCd{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
      \/* sc-component-id: sc-dRaagA */
      \.fMMwWg{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;margin:24px 0 4px;} @media (min-width:768px){.fMMwWg{width:300px;}}
      \/* sc-component-id: sc-fEUNkw */
      \.bUQnwQ{-webkit-flex:1;-ms-flex:1;flex:1;margin:0 22px;} .bUQnwQ::-webkit-slider-runnable-track{background:#efefef;box-shadow:0 0 4px 0 rgba(0,0,0,0.4) inset;border-radius:40px;} .bUQnwQ::-moz-range-track{background:#efefef;box-shadow:0 0 4px 0 rgba(0,0,0,0.4) inset;border-radius:40px;} .bUQnwQ::-ms-fill-lower{background:#efefef;box-shadow:0 0 4px 0 rgba(0,0,0,0.4) inset;border-radius:40px;}
      \/* sc-component-id: sc-dREXXX */
      \.jZylIW{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:24px;} @media (min-width:768px){.jZylIW{margin-top:32px;}}
      \/* sc-component-id: sc-kcbnda */
      \.kHAUmX + .sc-kcbnda{margin-left:16px;}
      \/* sc-component-id: sc-dHmInP */
      \.bsOdb{-webkit-flex:1;-ms-flex:1;flex:1;height:112px;margin-top:8px;padding:0 4px;} @media (min-width:768px){.bsOdb{height:150px;}}
      \/* sc-component-id: sc-ejGVNB */
      \.hsmaqh{-webkit-align-content:center;-ms-flex-line-pack:center;align-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#f5f5f5;border:1px #cccccc dashed;cursor:pointer;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100%;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;-webkit-transition:all ease-out 0.5s;transition:all ease-out 0.5s;}
      \/* sc-component-id: sc-iiUIRa */
      \.joAKll{font-size:12px;line-height:1.4em;text-align:center;width:100%;} @media (max-width:767px){.joAKll{display:none;}}
      \/* sc-component-id: sc-hgRTRy */
      \.eESUAP{fill:#222222;height:24px;margin-bottom:8px;width:24px;}
      \/* sc-component-id: sc-iIHSe */
      \.ffWsft{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:-8px -4px 0;}
      \/* sc-component-id: sc-jKmXuR */
      \.bMWfXa{display:block !important;}
      \/* sc-component-id: sc-bYwvMP */
      \.eBgIbY{fill:#0095ee;height:16px;margin-left:4px;vertical-align:-3px;width:16px;}
      \/* sc-component-id: sc-hUMlYv */
      \.fXzMES{margin-bottom:24px;}
      \/* sc-component-id: sc-ESoVU */
      \.dtKgNN{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;height:20px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
      \/* sc-component-id: sc-hRmvpr */
      \.jgwUQW{margin:0 auto 24px;} @media (min-width:768px){.jgwUQW{margin-bottom:32px;width:360px;}}
      \/* sc-component-id: sc-ecaExY */
      \.dUOaAv{padding:16px 16px 48px;} @media (min-width:768px){.dUOaAv{padding:40px 40px 64px;}}
      \/* sc-component-id: sc-gbzWSY */
      \.bwMfzZ{font-size:12px;line-height:1.4em;}
      \/* sc-component-id: sc-jqIZGH */
      \.AVIyk{max-width:153px;} @media (min-width:768px){.AVIyk{max-width:285px;}} .AVIyk input{text-align:right;}
      \/* sc-component-id: sc-jMMfwr */
      \.hNJeyH{margin-right:auto;white-space:nowrap;}
      \/* sc-component-id: sc-jdeSqf */
      \.cFLFtx{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;box-sizing:content-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:46px;}
      \/* sc-component-id: sc-cBrjTV */
      \.ijbKwt{margin-bottom:24px;} @media (min-width:768px){.ijbKwt{margin-bottom:40px;}} .ijbKwt > .sc-jdeSqf{padding:4px 0;} @media (min-width:768px){.ijbKwt > .sc-jdeSqf{padding:12px 0;}} .ijbKwt > .sc-jdeSqf:first-child{padding-top:0;} .ijbKwt > .sc-jdeSqf:last-child{padding-bottom:0;}
      \/* sc-component-id: sc-iCwjlJ */
      \.cnklvD{margin-right:auto;white-space:nowrap;}
      \/* sc-component-id: sc-fkyLDJ */
      \.iKlslD{font-size:14px;margin-right:8px;}
      \/* sc-component-id: sc-jUpvKA */
      \.kKKxgp{font-size:14px;}
      \/* sc-component-id: sc-jdfcpN */
      \.joFNLP{padding:32px 24px;} @media (min-width:768px){.joFNLP{padding:64px;}}
      \/* sc-component-id: sc-jRuhRL */
      \.eosaCj{font-weight:600;font-size:17px;line-height:1.4em;margin-bottom:16px;text-align:center;}
      \/* sc-component-id: sc-kNBZmU */
      \.ivzDTG{text-align:center;}
      \/* sc-component-id: sc-eopZyb */
      \.gAChZL{text-align:center;margin-top:16px;}
      \/* sc-component-id: sc-eNNmBn */
      \.fRxYlC{display:inline-block;font-size:14px;line-height:1.4em;text-align:left;}
      \/* sc-component-id: sc-hMrMfs */
      \.iXfvPx{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;border-top:1px #cccccc solid;}
      \/* sc-component-id: sc-bIqbHp */
      \.jhgaqq{background-color:#ffffff;border:none;cursor:pointer;font-size:14px;height:50px;padding:0;outline:none;text-align:center;-webkit-flex:1;-ms-flex:1;flex:1;} @media (min-width:768px){.jhgaqq{height:64px;}}
      \/* sc-component-id: sc-jxGEyO */
      \.cZjyvl{background-color:#ffffff;border:none;cursor:pointer;font-size:14px;height:50px;padding:0;outline:none;text-align:center;-webkit-flex:1;-ms-flex:1;flex:1;border-left:1px #cccccc solid;color:#0095ee;} @media (min-width:768px){.cZjyvl{height:64px;}}
      \/* sc-component-id: sc-cqPOvA */
      \.feiCiN{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;min-height:100vh;}
      \/* sc-component-id: sc-gNJABI */
      \.gMbpOw{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:56px;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;} @media (min-width:768px){.gMbpOw{height:128px;}}
      \/* sc-component-id: sc-yZwTr */
      \.gBkKhI{height:33px;width:120px;} @media (min-width:768px){.gBkKhI{height:49px;width:185px;}}
      \/* sc-component-id: sc-fjhmcy */
      \.dKjbVH{background-color:#ffffff;}
      \/* sc-component-id: sc-hwcHae */
      \.lhcdXG{margin-top:auto;padding:40px 0 11px;text-align:center;} @media (min-width:768px){.lhcdXG{padding:40px 0 41px;}}
      \/* sc-component-id: sc-erNlkL */
      \.junbxu{display:inline-block;margin:-16px 0 40px -16px;}
      \/* sc-component-id: sc-FQuPU */
      \.jACrMO{display:block;margin:16px 0 0 16px;} @media (min-width:768px){.jACrMO{display:inline-block;}}
      \/* sc-component-id: sc-iuDHTM */
      \.btCVfo{font-size:12px;} .btCVfo:hover{-webkit-text-decoration:underline;text-decoration:underline;opacity:0.7;}
      \/* sc-component-id: sc-kEmuub */
      \.ktlYZS{height:65px;margin-bottom:8px;width:80px;}
      \/* sc-component-id: sc-bbkauy */
      \.kmHFjK{font-size:12px;}
  %body
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", :style => "display:none;visibility:hidden", :title => "googletagmanager", :width => "0"}
    #__next
      .sc-cqPOvA.feiCiN
        .sc-gNJABI.gMbpOw
          %a.sc-fihHvN.fIpNlZ{:href => "/jp/"}
            %img.sc-yZwTr.gBkKhI{:alt => "Mercari", :src => "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"}/
        .sc-fAjcbJ.iYiELi.sc-fjhmcy.dKjbVH
          .sc-caSCKo.OLMic
            = form_for @item do |f|
              .sc-cTjmhe.gMiSZt
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    %div{:name => "photos"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label 出品画像
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    %p.sc-cugefK.kduPIy.style_controls__B6nQm
                      最大
                      / 
                      10
                      / 
                      枚までアップロードできます
                    .sc-jKmXuR.bMWfXa.style_controls__B6nQm
                      .sc-iIHSe.ffWsft{"data-test" => "sell-upload-container"}
                        .sc-dHmInP.bsOdb{:tabindex => "0"}
                          .sc-ejGVNB.hsmaqh
                            %input.sc-eLdqWK.jrNxLO{:accept => "image/png,image/jpeg", :autocomplete => "off", :multiple => "multiple", :style => "display:none", :tabindex => "-1", :type => "file"}/
                            %svg.sc-hgRTRy.eESUAP{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                              %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
                            %p.sc-iiUIRa.joAKll
                              ドラッグアンドドロップ
                              %br>/
                              またはクリックしてファイルをアップロード
              %hr.style_divider__1tLu3.style_size1__3jc3t/
              .sc-cTjmhe.gMiSZt
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    %div{:name => "name"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label 商品名
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv
                      .style_inputarea__1mtsA
                        %input{:autocomplete => "off", :name => "name", :placeholder => "40文字まで", :type => "text", :value => ""}/
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    %div{:name => "description"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label 商品の説明
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    %textarea.style_textarea__24aZZ.common_fontFamily__3-3Si.style_fluid__10CPG{:name => "description", :placeholder => "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", :rows => "7"}
                    .style_counter__ofu-P.common_fontFamily__3-3Si.style_right__1Vw8k
                      %span> 0
                      \/
                      / 
                      1000
              %hr.style_divider__1tLu3.style_size1__3jc3t/
              .sc-cTjmhe.gMiSZt
                %p.sc-eAKXzc.iLTrHh 商品の詳細
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    %div{:name => "category"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label カテゴリー
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                      .style_selectarea__3ZX8E
                        %select{:name => "category"}
                          %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                          %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
                          %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
                          %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
                          %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
                          %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
                          %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
                          %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
                          %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
                          %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
                          %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
                          %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
                          %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
                          %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他
                        %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                          %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label ブランド
                      %span.style_tag__xA80S.style_hint__3awFd.style_small__2vSa8.common_fontFamily__3-3Si 任意
                    .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv
                      .style_inputarea__1mtsA
                        %input{:autocomplete => "off", :name => "bland", :placeholder => "例）シャネル", :type => "string", :value => ""}/
                    %ul.sc-jbKcbu.cApMkI.sc-bfYoXt.evZoVs.style_controls__B6nQm
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    %div{:name => "status"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label 商品の状態
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                      .style_selectarea__3ZX8E
                        %select{:name => "status"}
                          %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                          %option{"aria-selected" => "false", :label => "新品、未使用", :value => "1"} 新品、未使用
                          %option{"aria-selected" => "false", :label => "未使用に近い", :value => "2"} 未使用に近い
                          %option{"aria-selected" => "false", :label => "目立った傷や汚れなし", :value => "3"} 目立った傷や汚れなし
                          %option{"aria-selected" => "false", :label => "やや傷や汚れあり", :value => "4"} やや傷や汚れあり
                          %option{"aria-selected" => "false", :label => "傷や汚れあり", :value => "5"} 傷や汚れあり
                          %option{"aria-selected" => "false", :label => "全体的に状態が悪い", :value => "6"} 全体的に状態が悪い
                        %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                          %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
              %hr.style_divider__1tLu3.style_size1__3jc3t/
              .sc-cTjmhe.gMiSZt
                %p.sc-eAKXzc.iLTrHh
                  配送について
                  %a{:href => "/jp/help_center/article/68/", :rel => "noopener noreferrer", :target => "_blank"}
                    %svg.sc-bYwvMP.eBgIbY{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
                      %path{:d => "M14.18,7.52A2.72,2.72,0,0,0,13.25,7a3.16,3.16,0,0,0-1.17-.2A3.12,3.12,0,0,0,10,7.43,2.92,2.92,0,0,0,9,9.27c0,.12,0,.18.12.19l1.4.22c.09,0,.15,0,.17-.13a1.63,1.63,0,0,1,.44-.91A1.2,1.2,0,0,1,12,8.31a1.17,1.17,0,0,1,.88.33,1.15,1.15,0,0,1,.33.83,1.62,1.62,0,0,1-.12.61,3.46,3.46,0,0,1-.41.67l-1.23,1.67a2.53,2.53,0,0,0-.31.58,2.51,2.51,0,0,0-.09.75v.63a.14.14,0,0,0,.16.16h1.44a.14.14,0,0,0,.16-.16v-.45a1.7,1.7,0,0,1,.07-.56,1.31,1.31,0,0,1,.24-.42l1.22-1.67A2.93,2.93,0,0,0,15,9.46a2.62,2.62,0,0,0-.22-1.09A2.43,2.43,0,0,0,14.18,7.52Z"}
                      %circle{:cx => "12", :cy => "16.24", :r => "1"}
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    %div{:name => "delivery_charge"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label 配送料の負担
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                      .style_selectarea__3ZX8E
                        %select{:name => "delivery_charge"}
                          %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                          %option{"aria-selected" => "false", :label => "送料込み(出品者負担)", :value => "2"} 送料込み(出品者負担)
                          %option{"aria-selected" => "false", :label => "着払い(購入者負担)", :value => "1"} 着払い(購入者負担)
                        %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                          %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    %div{:name => "prefecture"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label 発送元の地域
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                      .style_selectarea__3ZX8E
                        %select{:name => "prefecture"}
                          %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                          %option{"aria-selected" => "false", :label => "北海道", :value => "1"} 北海道
                          %option{"aria-selected" => "false", :label => "青森県", :value => "2"} 青森県
                          %option{"aria-selected" => "false", :label => "岩手県", :value => "3"} 岩手県
                          %option{"aria-selected" => "false", :label => "宮城県", :value => "4"} 宮城県
                          %option{"aria-selected" => "false", :label => "秋田県", :value => "5"} 秋田県
                          %option{"aria-selected" => "false", :label => "山形県", :value => "6"} 山形県
                          %option{"aria-selected" => "false", :label => "福島県", :value => "7"} 福島県
                          %option{"aria-selected" => "false", :label => "茨城県", :value => "8"} 茨城県
                          %option{"aria-selected" => "false", :label => "栃木県", :value => "9"} 栃木県
                          %option{"aria-selected" => "false", :label => "群馬県", :value => "10"} 群馬県
                          %option{"aria-selected" => "false", :label => "埼玉県", :value => "11"} 埼玉県
                          %option{"aria-selected" => "false", :label => "千葉県", :value => "12"} 千葉県
                          %option{"aria-selected" => "false", :label => "東京都", :value => "13"} 東京都
                          %option{"aria-selected" => "false", :label => "神奈川県", :value => "14"} 神奈川県
                          %option{"aria-selected" => "false", :label => "新潟県", :value => "15"} 新潟県
                          %option{"aria-selected" => "false", :label => "富山県", :value => "16"} 富山県
                          %option{"aria-selected" => "false", :label => "石川県", :value => "17"} 石川県
                          %option{"aria-selected" => "false", :label => "福井県", :value => "18"} 福井県
                          %option{"aria-selected" => "false", :label => "山梨県", :value => "19"} 山梨県
                          %option{"aria-selected" => "false", :label => "長野県", :value => "20"} 長野県
                          %option{"aria-selected" => "false", :label => "岐阜県", :value => "21"} 岐阜県
                          %option{"aria-selected" => "false", :label => "静岡県", :value => "22"} 静岡県
                          %option{"aria-selected" => "false", :label => "愛知県", :value => "23"} 愛知県
                          %option{"aria-selected" => "false", :label => "三重県", :value => "24"} 三重県
                          %option{"aria-selected" => "false", :label => "滋賀県", :value => "25"} 滋賀県
                          %option{"aria-selected" => "false", :label => "京都府", :value => "26"} 京都府
                          %option{"aria-selected" => "false", :label => "大阪府", :value => "27"} 大阪府
                          %option{"aria-selected" => "false", :label => "兵庫県", :value => "28"} 兵庫県
                          %option{"aria-selected" => "false", :label => "奈良県", :value => "29"} 奈良県
                          %option{"aria-selected" => "false", :label => "和歌山県", :value => "30"} 和歌山県
                          %option{"aria-selected" => "false", :label => "鳥取県", :value => "31"} 鳥取県
                          %option{"aria-selected" => "false", :label => "島根県", :value => "32"} 島根県
                          %option{"aria-selected" => "false", :label => "岡山県", :value => "33"} 岡山県
                          %option{"aria-selected" => "false", :label => "広島県", :value => "34"} 広島県
                          %option{"aria-selected" => "false", :label => "山口県", :value => "35"} 山口県
                          %option{"aria-selected" => "false", :label => "徳島県", :value => "36"} 徳島県
                          %option{"aria-selected" => "false", :label => "香川県", :value => "37"} 香川県
                          %option{"aria-selected" => "false", :label => "愛媛県", :value => "38"} 愛媛県
                          %option{"aria-selected" => "false", :label => "高知県", :value => "39"} 高知県
                          %option{"aria-selected" => "false", :label => "福岡県", :value => "40"} 福岡県
                          %option{"aria-selected" => "false", :label => "佐賀県", :value => "41"} 佐賀県
                          %option{"aria-selected" => "false", :label => "長崎県", :value => "42"} 長崎県
                          %option{"aria-selected" => "false", :label => "熊本県", :value => "43"} 熊本県
                          %option{"aria-selected" => "false", :label => "大分県", :value => "44"} 大分県
                          %option{"aria-selected" => "false", :label => "宮崎県", :value => "45"} 宮崎県
                          %option{"aria-selected" => "false", :label => "鹿児島県", :value => "46"} 鹿児島県
                          %option{"aria-selected" => "false", :label => "沖縄県", :value => "47"} 沖縄県
                          %option{"aria-selected" => "false", :label => "未定", :value => "99"} 未定
                        %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                          %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
                .style_formgroup__3IPME.sc-iNhVCk.iucczz
                  .style_body__1OP1S
                    %div{:name => "delivery_date"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label 発送までの日数
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                      .style_selectarea__3ZX8E
                        %select{:name => "delivery_date"}
                          %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                          %option{"aria-selected" => "false", :label => "1~2日で発送", :value => "1"} 1~2日で発送
                          %option{"aria-selected" => "false", :label => "2~3日で発送", :value => "2"} 2~3日で発送
                          %option{"aria-selected" => "false", :label => "4~7日で発送", :value => "3"} 4~7日で発送
                        %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                          %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
              %hr.style_divider__1tLu3.style_size1__3jc3t/
              .sc-ecaExY.dUOaAv
                %p.sc-eAKXzc.iLTrHh
                  価格（¥
                  / 
                  300
                  / 
                  〜
                  / 
                  9,999,999
                  / 
                  ）
                  %a{:href => "/jp/help_center/article/64/", :rel => "noopener noreferrer", :target => "_blank"}
                    %svg.sc-bYwvMP.eBgIbY{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
                      %path{:d => "M14.18,7.52A2.72,2.72,0,0,0,13.25,7a3.16,3.16,0,0,0-1.17-.2A3.12,3.12,0,0,0,10,7.43,2.92,2.92,0,0,0,9,9.27c0,.12,0,.18.12.19l1.4.22c.09,0,.15,0,.17-.13a1.63,1.63,0,0,1,.44-.91A1.2,1.2,0,0,1,12,8.31a1.17,1.17,0,0,1,.88.33,1.15,1.15,0,0,1,.33.83,1.62,1.62,0,0,1-.12.61,3.46,3.46,0,0,1-.41.67l-1.23,1.67a2.53,2.53,0,0,0-.31.58,2.51,2.51,0,0,0-.09.75v.63a.14.14,0,0,0,.16.16h1.44a.14.14,0,0,0,.16-.16v-.45a1.7,1.7,0,0,1,.07-.56,1.31,1.31,0,0,1,.24-.42l1.22-1.67A2.93,2.93,0,0,0,15,9.46a2.62,2.62,0,0,0-.22-1.09A2.43,2.43,0,0,0,14.18,7.52Z"}
                      %circle{:cx => "12", :cy => "16.24", :r => "1"}
                .sc-cBrjTV.ijbKwt
                  .sc-jdeSqf.cFLFtx
                    .sc-jMMfwr.hNJeyH{:name => "price"}
                      .style_formLabel__3wM81.common_fontFamily__3-3Si
                        %label 販売価格
                        %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                    %span.sc-fkyLDJ.iKlslD ¥
                    .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv.sc-jqIZGH.AVIyk
                      .style_inputarea__1mtsA
                        %input{:autocomplete => "off", :name => "price", :placeholder => "0", :type => "number", :value => ""}/
                  .sc-jdeSqf.cFLFtx
                    .sc-iCwjlJ.cnklvD{"data-test" => "fee-label"}
                      %div 販売手数料（10%）
                    %span.sc-jUpvKA.kKKxgp{"data-test" => "fee-value"} —
                  %hr.style_divider__1tLu3.style_size1__3jc3t/
                  .sc-jdeSqf.cFLFtx
                    .sc-iCwjlJ.cnklvD 販売利益
                    %span.sc-jUpvKA.kKKxgp{"data-test" => "total-value"} —
                .sc-hRmvpr.jgwUQW
                  %button.style_button__3yWFH.common_fontFamily__3-3Si.style_primary__Mg3zL.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0.sc-hUMlYv.fXzMES{:tabindex => "0", :type => "submit"} 出品する
                  %button.style_button__3yWFH.common_fontFamily__3-3Si.style_defaultIntent__22709.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0.sc-hUMlYv.fXzMES{:tabindex => "0", :type => "button"} 下書きに保存
                  %a.style_textlink__iJYDm.common_fontFamily__3-3Si.sc-ESoVU.dtKgNN{:href => "/jp/"} もどる
                %p.sc-gbzWSY.bwMfzZ
                  禁止されている
                  %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_conduct/", :rel => "noopener noreferrer", :target => "_blank"}> 行為
                  および
                  %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_items/", :rel => "noopener noreferrer", :target => "_blank"}> 出品物
                  を必ずご確認ください。
                  %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 偽ブランド品
                  や
                  %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/report_counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 盗品物
                  などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
                  %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/seller_terms/", :rel => "noopener noreferrer", :target => "_blank"}> 加盟店規約
                  に同意したことになります。
        .sc-hwcHae.lhcdXG
          .sc-lnmtFM.fykVdR
            %ul.sc-erNlkL.junbxu
              %li.sc-FQuPU.jACrMO
                %a.sc-iuDHTM.btCVfo{:href => "/jp/privacy/"} プライバシーポリシー
              %li.sc-FQuPU.jACrMO
                %a.sc-iuDHTM.btCVfo{:href => "/jp/tos/"} メルカリ利用規約
              %li.sc-FQuPU.jACrMO
                %a.sc-iuDHTM.btCVfo{:href => "/jp/tokutei/"} 特定商取引に関する表記
          %a.sc-fihHvN.fIpNlZ{:href => "/jp/"}
            %img.sc-kEmuub.ktlYZS{:alt => "Furima", :src => "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"}/
          %p.sc-bbkauy.kmHFjK © Mercari, Inc.
    %script{:nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm"}
      :cdata
        window.__webpack_nonce__ = 'ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm';
    %script#__NEXT_DATA__{:nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :type => "application/json"}
      :cdata
        {"props":{"pageProps":{},"apolloState":{"$ROOT_QUERY.antiSocialExists.data":{"exists":true,"__typename":"AntiSocialExistsData"},"$ROOT_QUERY.antiSocialExists":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.antiSocialExists.data","typename":"AntiSocialExistsData"},"__typename":"AntiSocialExists"},"ROOT_QUERY":{"antiSocialExists":{"type":"id","generated":true,"id":"$ROOT_QUERY.antiSocialExists","typename":"AntiSocialExists"},"merpayAccounts":{"type":"id","generated":true,"id":"$ROOT_QUERY.merpayAccounts","typename":"MerpayAccounts"},"notificationCount":{"type":"id","generated":true,"id":"$ROOT_QUERY.notificationCount","typename":"NotificationCount"},"point":{"type":"id","generated":true,"id":"$ROOT_QUERY.point","typename":"Point"},"sales":{"type":"id","generated":true,"id":"$ROOT_QUERY.sales","typename":"Sales"},"todolistsCount":{"type":"id","generated":true,"id":"$ROOT_QUERY.todolistsCount","typename":"TodolistsCount"},"userProfile":{"type":"id","generated":true,"id":"$ROOT_QUERY.userProfile","typename":"UserProfile"}},"$ROOT_QUERY.merpayAccounts.data":{"hasFundsAccount":false,"hasPointAccount":false,"fundsAccount":null,"pointAccount":null,"__typename":"MerpayAccountsData"},"$ROOT_QUERY.merpayAccounts":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.merpayAccounts.data","typename":"MerpayAccountsData"},"error":null,"__typename":"MerpayAccounts"},"$ROOT_QUERY.notificationCount.data":{"count":3,"__typename":"NotificationCountData"},"$ROOT_QUERY.notificationCount":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.notificationCount.data","typename":"NotificationCountData"},"error":null,"__typename":"NotificationCount"},"$ROOT_QUERY.point.data":{"currentTotal":0,"__typename":"PointData"},"$ROOT_QUERY.point":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.point.data","typename":"PointData"},"error":null,"__typename":"Point"},"$ROOT_QUERY.sales.data":{"currentSales":0,"__typename":"SalesData"},"$ROOT_QUERY.sales":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.sales.data","typename":"SalesData"},"error":null,"__typename":"Sales"},"$ROOT_QUERY.todolistsCount.data":{"count":1,"__typename":"TodolistsCountData"},"$ROOT_QUERY.todolistsCount":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.todolistsCount.data","typename":"TodolistsCountData"},"error":null,"__typename":"TodolistsCount"},"AliveUserProfileData:235854681":{"id":235854681,"name":"釼持哲史","photoThumbnailUrl":"https://static.mercdn.net/images/member_photo_noimage_thumb.png","email":"skem209@gmail.com","score":0,"numSellItems":0,"registerSmsConfirmation":"yes","isOrganizationalUser":false,"__typename":"AliveUserProfileData"},"$ROOT_QUERY.userProfile":{"data":{"type":"id","generated":false,"id":"AliveUserProfileData:235854681","typename":"AliveUserProfileData"},"error":null,"__typename":"UserProfile"}},"apolloClient":{},"data":{"merpayAccounts":{"data":{"hasFundsAccount":false,"hasPointAccount":false,"fundsAccount":null,"pointAccount":null,"__typename":"MerpayAccountsData"},"error":null,"__typename":"MerpayAccounts"},"notificationCount":{"data":{"count":3,"__typename":"NotificationCountData"},"error":null,"__typename":"NotificationCount"},"point":{"data":{"currentTotal":0,"__typename":"PointData"},"error":null,"__typename":"Point"},"sales":{"data":{"currentSales":0,"__typename":"SalesData"},"error":null,"__typename":"Sales"},"todolistsCount":{"data":{"count":1,"__typename":"TodolistsCountData"},"error":null,"__typename":"TodolistsCount"},"userProfile":{"data":{"id":235854681,"name":"釼持哲史","photoThumbnailUrl":"https://static.mercdn.net/images/member_photo_noimage_thumb.png","email":"skem209@gmail.com","score":0,"numSellItems":0,"registerSmsConfirmation":"yes","isOrganizationalUser":false,"__typename":"AliveUserProfileData"},"error":null,"__typename":"UserProfile"},"antiSocialExists":{"data":{"exists":true,"__typename":"AntiSocialExistsData"},"__typename":"AntiSocialExists"}},"fullPath":"https://www.mercari.com/jp/sell/","userAgent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.106 Safari/537.36","cookies":{},"error":null},"page":"/sell","query":{},"buildId":"OsDGyTi53lvovhtgoXLiA","assetPrefix":"https://web-jp-assets.mercdn.net","runtimeConfig":{"isDevelopment":false,"isProduction":true,"basePath":"/jp","baseUrl":"https://www.mercari.com","itemBaseUrl":"https://item.mercari.com/jp","mercariStatic":"https://s3-ap-northeast-1.amazonaws.com/static.dev6s.mercari.jp","googleTagManagerId":"GTM-KLPT5L5","CLIENT_GRAPHQL_URL":"/jp/graphql","SERVER_GRAPHQL_URL":"http://main.mercari-web-graphql-jp-prod/jp/graphql","SESSION_JP_URL":"http://main.mercari-web-session-jp-prod.svc.cluster.local:10001","SENTRY":{"DSN":"https://3a427e6f93474a80b9e91ffd03d723e7@sentry.io/1253786","ENVIRONMENT":"production","RELEASE":"7e477865bb9ae8e3be79cab14189432a8d09fb3b-production"}}}
    %script{:nomodule => "", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/runtime/polyfills-27c92b83d374b18fb28a.js"}
    %script{"data-next-page" => "/sell", :defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/OsDGyTi53lvovhtgoXLiA/pages/sell.js"}
    %script{"data-next-page" => "/_app", :defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/OsDGyTi53lvovhtgoXLiA/pages/_app.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/runtime/webpack-95e3d149902c1cbca77f.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/framework.0352e16ba0ad641c9265.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/commons.dd5abf505ca116532ef2.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/be5db59a2852f7f0f7a37e9ce7c80458acd04915.f273d858442585813e0f.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/5eca33d30e33d7b4700fe9c23057fbcdcb0a52f5.b7938ded1d043a41f19b.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/3b63c3c2e27622bd1a53e40c9b9fb8ef736289b4.5ebbadcb06f3b2e53fd2.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/339ec15c43a7ff8f4d22eafc6626eb55416e36f3.194debebc30773b3124e.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/93bdd6766f50e6d85536a083fdcf4d448fd17349.8d44356b723322b3e7d2.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/9f085ed986c07e540131246617d2d8ee6c83e525.3627c2b7ed8392c9de64.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/c29cd19db51e4b56e17108952a44af2a54b28236.64571803dd70b47255bf.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/2561efdd4059fe1a9cf847e5b126d1d65dee1d09.b216875b9b1f829b44a7.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/b6c4b0ec35cf51ada6ede4c747fde3e3b4945966.84ccafae618158d75667.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/8a293cb2397c4695709629fa55cb9d0f50f0b337.b211fbcef72957b0384d.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/8d31ed62e825417750253799d6301e02a97d6a43.ed18105d2d01956032fc.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/ItemList.7cb72ba49724b382c583.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/f15349012029f60629fb22e082c0f863b6aab187.2fb1a5c17a2ea0750895.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/runtime/main-b667d026f689505e5c10.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/4f1c08ab95ba54e3dbcc868943bf24287c9076af.b4b59de55a768ae018cf.js"}
    %script{:defer => "defer", :nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm", :src => "https://web-jp-assets.mercdn.net/_next/static/OsDGyTi53lvovhtgoXLiA/_buildManifest.js"}
    %script{:nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm"}
      :cdata
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KLPT5L5');
    %script{:nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm"}
      :cdata
        window.dataLayer = window.dataLayer || [];
    %script{:nonce => "ZWRkNzVlYzAtNDlkYy00MDU0LTg3MGEtZDI2N2U1YWQxMTFm"}
      :cdata
        if ('serviceWorker' in navigator && true) {
        window.addEventListener('load', function () {
        navigator.serviceWorker.register('/jp/service-worker.js').catch(function () {});
        });
        }

form
