!!!
%html{:lang => "ja-JP"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Anti-flicker snippet
    :css
      .async-hide { opacity: 0 !important}
    :javascript
      (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
      })(window,document.documentElement,'async-hide','dataLayer',4000,
      {'GTM-KLPT5L5':true});
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title メルカリ - ハンドメイド インナーマスク 【救急/衛生用品】 (¥1,000) 中古や未使用のフリマ
    %meta{:content => "ハンドメイド  インナーマスクマスクではありません2枚セット素材:綿100％と裏ダブルガーゼ(ローズ)サイズ:約8cm×16cmマスクはつきませんマスクの内側に入れてお使いください鼻にノーズワイヤーと、プリーツ入りなので使いやすいと思います洗濯するときは手洗いをオススメします素人のハンドメイドなので、多少のズレや歪みなどはご了承ください完璧を求める方は購入はご遠慮ください", :name => "description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "メルカリ スマホでかんたん フリマアプリ", :property => "og:site_name"}/
    %meta{:content => "ハンドメイド インナーマスク(¥1,000) - メルカリ スマホでかんたん フリマアプリ", :property => "og:title"}/
    %meta{:content => "ハンドメイド  インナーマスクマスクではありません2枚セット素材:綿100％と裏ダブルガーゼ(ローズ)サイズ:約8cm×16cmマスクはつきませんマスクの内側に入れてお使いください鼻にノーズワイヤーと、プリーツ入りなので使いやすいと思います洗濯するときは手洗いをオススメします素人のハンドメイドなので、多少のズレや歪みなどはご了承ください完璧を求める方は購入はご遠慮ください", :property => "og:description"}/
    %meta{:content => "https://www.mercari.com/jp/items/m66725710886/", :property => "og:url"}/
    %meta{:content => "https://static.mercdn.net/item/detail/orig/photos/m66725710886_1.jpg?1584699390", :property => "og:image"}/
    %meta{:content => "フリマアプリ「メルカリ」", :property => "al:ios:app_name"}/
    %meta{:content => "667861049", :property => "al:ios:app_store_id"}/
    %meta{:content => "mercari://app/launch", :property => "al:ios:url"}/
    %meta{:content => "フリマアプリ「メルカリ」", :property => "al:android:app_name"}/
    %meta{:content => "com.kouzoh.mercari", :property => "al:android:package"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@mercari_jp", :name => "twitter:site"}/
    %meta{:content => "ハンドメイド インナーマスク(¥1,000) - メルカリ スマホでかんたん フリマアプリ", :name => "twitter:title"}/
    %meta{:content => "ハンドメイド  インナーマスクマスクではありません2枚セット素材:綿100％と裏ダブルガーゼ(ローズ)サイズ:約8cm×16cmマスクはつきませんマスクの内側に入れてお使いください鼻にノーズワイヤーと、プリーツ入りなので使いやすいと思います洗濯するときは手洗いをオススメします素人のハンドメイドなので、多少のズレや歪みなどはご了承ください完璧を求める方は購入はご遠慮ください", :name => "twitter:description"}/
    %meta{:content => "https://static.mercdn.net/item/detail/orig/photos/m66725710886_1.jpg?1584699390", :name => "twitter:image"}/
    %meta{:content => "jp", :name => "twitter:app:country"}/
    %meta{:content => "フリマアプリ「メルカリ」", :name => "twitter:app:name:iphone"}/
    %meta{:content => "フリマアプリ「メルカリ」", :name => "twitter:app:name:ipad"}/
    %meta{:content => "フリマアプリ「メルカリ」", :name => "twitter:app:name:googleplay"}/
    %meta{:content => "667861049", :name => "twitter:app:id:iphone"}/
    %meta{:content => "667861049", :name => "twitter:app:id:ipad"}/
    %meta{:content => "667861049", :name => "twitter:app:id:ipad"}/
    %meta{:content => "com.kouzoh.mercari", :name => "twitter:app:id:googleplay"}/
    %meta{:content => "mercari://item/openDetail?id=m66725710886&referer=facebook", :property => "al:ios:url"}/
    %meta{:content => "mercari://item/openDetail?id=m66725710886&referer=facebook", :property => "al:android:url"}/
    %meta{:content => "mercari://item/openDetail?id=m66725710886&referer=twitter", :name => "twitter:app:url:iphone"}/
    %meta{:content => "mercari://item/openDetail?id=m66725710886&referer=twitter", :name => "twitter:app:url:ipad"}/
    %meta{:content => "mercari://item/openDetail?id=m66725710886&referer=twitter", :name => "twitter:app:url:googleplay"}/
    %meta{:content => "価格", :name => "twitter:label1"}/
    %meta{:content => "¥1,000", :name => "twitter:data1"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %link{:href => "https://www.mercari.com/jp/items/m66725710886/", :rel => "canonical"}/
    %link{:href => "/jp/assets/css/app.jp.css?827988285", :rel => "stylesheet"}/
    %link{:href => "//pcweb-assets.mercdn.net/favicon.ico?3850499208", :rel => "shortcut icon"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon.png?3850499208", :rel => "apple-touch-icon"}/
    %link{:href => "//pcweb-assets.mercdn.net/favicon-16x16.png?3850499208", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "//pcweb-assets.mercdn.net/favicon-32x32.png?3850499208", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "//pcweb-assets.mercdn.net/favicon-194x194.png?3850499208", :rel => "icon", :sizes => "194x194", :type => "image/png"}/
    %link{:href => "//pcweb-assets.mercdn.net/android-chrome-192x192.png?3850499208", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:color => "#ea352d", :href => "//pcweb-assets.mercdn.net/safari-pinned-tab.svg?3850499208", :rel => "mask-icon"}/
    %link{:href => "https://www.mercari.com/jp/manifest.json?3850499208", :rel => "manifest"}/
    %meta{:content => "#ffc40d", :name => "msapplication-TileColor"}/
    %meta{:content => "//pcweb-assets.mercdn.net/mstile-144x144.png?3850499208", :name => "msapplication-TileImage"}/
    %meta{:content => "#ea352d", :name => "theme-color"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-precomposed.png?3850499208", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-57x57.png?3850499208", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-60x60.png?3850499208", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-72x72.png?3850499208", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-76x76.png?3850499208", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-114x114.png?3850499208", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-120x120.png?3850499208", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-144x144.png?3850499208", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-152x152.png?3850499208", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "//pcweb-assets.mercdn.net/apple-touch-icon-180x180.png?3850499208", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "android-app://com.kouzoh.mercari/mercari/item/openDetail?id=m66725710886", :rel => "alternate"}/
    %script{:type => "application/ld+json"}
      :cdata
        {
        "@context": "https://schema.org",
        "@type": "Product",
        "url": "https://www.mercari.com/jp/items/m66725710886/",
        "name": "ハンドメイド インナーマスク",
        "image": "https://static.mercdn.net/item/detail/orig/photos/m66725710886_1.jpg?1584699390",
        "offers": {
        "@type": "Offer",
        "price": "1000",
        "priceCurrency": "JPY"
        }
        }
  %body
    .default-container
      %section.item-box-container.l-single-container
        %h1.item-name ハンドメイド インナーマスク
        .item-main-content.clearfix
          .itemBox__body
            %ul
              %li
                %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
                %ul
                  %li
                    %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png", :width => "75"}/
                  %li
                    %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png", :width => "75"}/
                  %li
                    %img{:height => "75", :src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png", :width => "75"}/
          %table.item-detail-table
            %tr
              %th 出品者
              %td
                %a{:href => "https://www.mercari.com/jp/u/482177612/"} ゆう
            %tr
              %th カテゴリー
              %td
                %a{:href => "https://www.mercari.com/jp/category/6/"}
                  %div コスメ・香水・美容
                %a{:href => "https://www.mercari.com/jp/category/95/"}
                  .item-detail-table-sub-category
                    %i.icon-arrow-right
                    その他
                %a{:href => "https://www.mercari.com/jp/category/837/"}
                  .item-detail-table-sub-sub-category
                    %i.icon-arrow-right
                    救急/衛生用品
            %tr
              %th ブランド
              %td
            %tr
              %th 商品の状態
              %td 新品、未使用
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td 普通郵便(定形、定形外)
            %tr
              %th 配送元地域
              %td 高知県
            %tr
              %th 発送日の目安
              %td 1~2日で発送
        .item-price-box.text-center
          %span.item-price.bold ¥1,000
          %span.item-tax (税込)
          %span.item-shipping-fee 送料込み
        %a.item-buy-btn{:href => "https://www.mercari.com/jp/transaction/buy/m66725710886/?_s=U2FsdGVkX18AFP7runt3WvbaB7i-PUbdf59QZLt7Z7N3vvl4oRtDLmVf3P7Fjd5IdtH4vwxbCxxUeAcwHDM1k4UjxpQlVV0_ky1_DRZSPUAuhnDJm762Bzem4ZSOSHVB"}
          購入画面に進む
        .item-description.f14
          %p.item-description-inner
            ハンドメイド  インナーマスク
            
            マスクではありません
            
            2枚セット
            素材:綿100％と裏ダブルガーゼ(ローズ)
            サイズ:約8cm×16cm
            
            マスクはつきません
            
            マスクの内側に入れてお使いください
            鼻にノーズワイヤーと、プリーツ入りなので使いやすいと思います
            
            洗濯するときは手洗いをオススメします
            
            素人のハンドメイドなので、多少のズレや歪みなどはご了承ください
            完璧を求める方は購入はご遠慮ください
      .item-detail-message
        .message-container
          .message-content
            %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
              %input{:name => "__csrf_value", :type => "hidden", :value => "c6d74b8154bde6722fa4706b572f66e5b9518c503d68d407cd894cccd479de68d2b28d31a4eaf9d47191b3d31c328490320d68080a6c0ea6cb52e9749975167de"}/
              %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %input{:name => "item_id", :type => "hidden", :value => "m66725710886"}/
              %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
              %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
              %button.message-submit.btn-default.btn-gray{:type => "submit"}
                %span コメントする