/*.header{
  display: none;
}

.banner{
  display: none;
}

.footer{
  display: none;
}
*/

.login_header {
  text-align: center;
  padding: 40px;
  &__head-icon{
    width: 120px;
    margin: 0 auto;
    a {
      img {
        width: 100%;
      }
    }
  }
}

.login_footer {
  &__inner{
    width: 456px;
    height: 140px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    ul{
      display: flex;
      position: relative;
      left: 6%;
      li{
        font-size: 12px;
        padding: 0 10px;
      }
    }
    &__logo{
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
      a{
        img{
          width: 100%;
        }
      }
    }
    p{
      font-size: 10px;
    }
  }
}

.login {
  background-color: #f8f8f8;
  min-height: 100vh;
  &__section{
    width: 100%;
    &__inner{
      width: 456px;
      margin: 0 auto;
      background-color: #fff;
      &__title{
        padding: 40px 64px 0;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        .new-text{
          font-size: 14px;
          text-align: center;
          font-weight: bold;
        }
        .title-btn{
          display: block;
          height: 40px;
          margin: 40px 0;
          background: #ffb340;
          text-align: center;
          width: 320px;
          font-size: 16px;
          line-height: 40px;
          color: #fff;
          text-decoration: none;
        }
      }
      &__form{
        padding: 0 0 40px 0;
        border-top: 1px solid #f8f8f8;
        .new_user{
          max-width: 320px;
          margin: 0 auto;
          .field{
            width: 100%;
            margin: 40px 0 0;
            label{
              display: none;
            }
            .input-field{
              width: calc(100% - 32px);
              margin: 8px 0 0;
              padding: 10px 16px 8px;
              border-radius: 4px;
              font-size: 16px;
              height: 28px;
            }
          }
          .remember_field{
            margin: 10px 0 0 0;
            font-size: 16px;
            
          }
          .actions{
            .submit-btn{
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              margin: 40px 0 0;
              width: 100%;
              font-size: 16px;
            }
          }
        }
        .bottom-btn{
          display: block;
          margin: 40px auto 0;
          max-width: 320px;
          text-decoration: none;
          color: #ffb340;
          font-size: 14px;
        }
      }
    }
  } 
}

.sign_up{
  background-color: #f8f8f8;
  min-height: 100vh;
  &__section{
    width: 100%;
    &__inner{
      margin: 0 auto;
      background-color: #fff;
      width: 700px;
      &__title{
        padding: 32px 16px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
      }
      &__form{
        border-top: 1px solid #f8f8f8;
        padding: 64px;
        .new_user{
          max-width: 320px;
          margin: 0 auto;
          .field-top{
            width: 100%;
          }
          .field{
            width: 100%;
            margin: 40px 0 0;
          }
          label{
            font-weight: 600;
            display: inline-block;
          }
          .required{
            background-color: #3CCACE;
            color: #fff;
            font-size: 14px;
            border-radius: 2px;
            padding: 0 2px;
            display: inline-block;
          }
          .input-field{
            width: calc(100% - 32px);
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            font-size: 16px;
            height: 28px;
          }
          .sub-title{
            margin: 24px 0 0;
            .title{
              font-size: 16px;
            }
            .text{
              margin: 8px 0 0;
            }
          }
          .name{
            margin: 24px 0 0;
            .text{
              font-weight: 600;
            }
            .name_field{
              .input-box{
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                width: calc(50% - 6px);
                margin: 8px 0 0;
              }
              label{
                display: none;
              }
            }
          }
          .name-kana{
            margin-top: 24px;
            .text{
              font-weight: 600;
            }
            .kana_field{
              .input-box{
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                width: calc(50% - 6px);
                margin: 8px 0 0;

              }
              label{
                display: none;
              }
            }
          }
          .birthday{
            margin-top: 24px;
            .text{
              font-weight: 600;
            }
            .birthday_field{
              
              #user_birth_year_id{
                width: 76px;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                margin: 8px 0 0;
              }
              label{
                display: none;
              }
              #user_birth_month_id{
                width: 76px;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                margin: 8px 0 0;
              }
              label{
                display: none;
              }
              #user_birth_day_id{
                width: 76px;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                margin: 8px 0 0;
              }
              label{
                display: none;
              }
            }
          }
          
          .actions{
            .next-btn{
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              margin: 40px 0 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.address{
  background-color: #f8f8f8;
  &__section{
    width: 100%;
    &__inner{
      margin: 0 auto;
      background-color: #fff;
      width: 700px;
      &__title{
        padding: 32px 16px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
      }
      &__form{
        border-top: 1px solid #f8f8f8;
        padding: 64px;
        .new_address{
          max-width: 320px;
          margin: 0 auto;
          label{
            font-weight: 600;
            display: inline-block;
          }
          .required{
            background-color: #3CCACE;
            color: #fff;
            font-size: 14px;
            border-radius: 2px;
            padding: 0 2px;
            display: inline-block;
          }
          .input-field{
            width: calc(100% - 32px);
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            font-size: 16px;
            height: 28px;
          }
          .field{
            width: 100%;
            margin: 40px 0 0;
           #address_prefecture_id{
            width: calc(100% - 32px);
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            font-size: 16px;
            height: 28px;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
           }
          }
          .actions{
            .next-btn{
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              margin: 40px 0 0;
              width: 100%;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.mypage{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 242, 230);
  &__left{
    width: 280px;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 50px;
    &__area{
      &__list{
        li{
          display: block;
          min-height: 48px;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
          border-bottom: solid 1px gray;
        }
      }
    }
  }
  &__right{
    margin-top: 100px;
    width: 50%;
    &__user_name{
      height: 200px;
      background: #fff;
      padding-top: 50px;
      &__upper{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
      &__lower{
        display: flex;
        margin-top: 20px;
        &__left{
          margin-left: 40%;
          font-size: 20px;
          font-weight: bold;
        }
        &__right{
          margin-left: 20px;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    &__buy-item{
      margin: 40px 0 100px;
      background: #fff;
      &__head{
        min-height: 48px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-bottom: solid 1px gray;
      }
      &__content{
        height: 300px;
        background: #fff;
      }
    }
  }
}

.right_area{
  margin-top: 100px;
  width: 70%;
  &__logout-btn{
    width: 60%;
    font-size: 24px;
    line-height: 60px;
    display: block;
    margin-top: 16px;
    margin-left: 100px;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
  }
}
